<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="mvp.css">

  <meta charset="utf-8">
  <meta name="description" content="My description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sinatra Project Template</title>
</head>

<body>
  <header>
    <nav>
      Sinatra Project Template
      <ul>
        <li><a href="#">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
      </ul>
  </nav>
    <h1>Sinatra</h1>
    <p>Project Template</p>
  </header>
  <main>
    <%== yield %>
  </main>
</body>

</html>
